# Server
SERVER_PORT=8080

# Database
DB_HOST=34.23.218.229
DB_PORT=3306
DB_USER=loopi-user
DB_PASSWORD=7:Z"I3=9,(VCU1R+
DB_NAME=loopi

# JWT
JWT_SECRET=y4mmCP+GXmkNogRwxzqBKuNO72j29fkr4T65wzCN5Ug=
JWT_EXPIRATION_HOURS=24
